# === SAKHI BEAUTY PARLOUR — Environment Variables ===

# Server
PORT=5000

# MongoDB (Local ya Atlas - dono chalega)
# Local MongoDB:
#MONGO_URI=mongodb://localhost:27017/sakhi-beauty
# Online MongoDB Atlas (free):
# MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/sakhi-beauty
#MONGO_URI=mongodb+srv://harshitagupta192812_db_user:2f2rebfEfBAv1prH@cluster0.viyslce.mongodb.net/sakhi-beauty?retryWrites=true&w=majority

MONGO_URI=mongodb://harshitagupta192812_db_user:2f2rebfEfBAv1prH@ac-j7kywty-shard-00-00.viyslce.mongodb.net:27017,ac-j7kywty-shard-00-01.viyslce.mongodb.net:27017,ac-j7kywty-shard-00-02.viyslce.mongodb.net:27017/sakhi-beauty?ssl=true&replicaSet=atlas-ihj3fk-shard-0&authSource=admin&retryWrites=true&w=majority
# JWT Secret (kuch bhi secret likho)
JWT_SECRET=SakhiBeautyGorakhpur2025RanjanaJi
JWT_EXPIRE=30d
# Razorpay (razorpay.com se keys lo)
RAZORPAY_KEY_ID=rzp_test_SZR96GR89ZqQdr
RAZORPAY_KEY_SECRET=R3xID5IuscYcjbU9DJK6bRnL

# Google Login (console.cloud.google.com se Client ID lo)
GOOGLE_CLIENT_ID=451106105793-c1ehps86rjfsq9pjdmtrsch0qne8kg36.apps.googleusercontent.com

# Frontend URL
CLIENT_URL=https://smrat-sakhi.vercel.app
#CLIENT_URL=http://localhost:5173
